/*Button for the accordions*/
#accordion .card-header button {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Accordion card */
#accordion .card {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-color: transparent;
}

#accordion .collapse {
    height: 0;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
}

#accordion .collapse.show {
    height: auto;
    transition: height 0.5s ease-in-out;
}

#card-img{
    filter: blur(4px);
    transition: filter 0.3s ease-in-out;
}

#card-img:hover {
    filter: blur(0);
}


